    body, html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #47141D;
    }

    body.fixed-nav-padding {
        padding-top: 80px; /* Este padding debería ser igual a la altura de la barra de navegación */
    }    

    header {
        background-color: #47141D;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .header-content {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav {
        background-color: #47141D;
        width: 100%;
        position: absolute;
        left: 0;
        transition: top 0.3s;
        top: 100%; /* Esto asegura que el nav comienza justo debajo de los logos */
    }
    
    nav.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }

    /* Estilos adicionales para el dropdown */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn:hover {
        background-color: #5e3a3a;
    }
    
    .cover-section, .cover-section ul, .cover-section li {
        list-style: none; /* Asegura que no se muestren viñetas en las listas */
        padding: 0;
        margin: 0;
    }    

    .cover-section {
        background-image: url('./Imagenes/rico burrito.png');
        background-size: cover;
        background-position: center;
        padding: 50px 20px;
        color: white;
        list-style: none;
    }

    .cover-content {
        list-style: none; /* Ensures no bullets on any lists inside this content */
        max-width: 960px;
        margin: auto; /* Centers the content horizontally and vertically */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
        padding: 20px;
        text-align: center; /* Centers the text */
    }

    .section-giro {
        background-image: url('./Imagenes/preparación\ burrito\ 2.png');
        background-size: cover;
        background-position: center;
        padding: 50px 20px;
        color: white;
        list-style: none;
    }

    .content-giro {
        list-style: none; /* Ensures no bullets on any lists inside this content */
        max-width: 960px;
        margin: auto; /* Centers the content horizontally and vertically */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
        padding: 20px;
        text-align: center; /* Centers the text */
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: #47141D; /* Changed from #333 to match the header */
        color: white;
    }

    @media (max-width: 768px) {
        header {
            flex-direction: column;
        }

        nav ul li {
            display: block; /* Stacks the links vertically on small screens */
            margin: 10px 0;
        }

        .logo-ipn, .logo-escom {
            height: 50px; /* Smaller logos on smaller screens */
        }
        .logo{
            height: 80px;
        }
    }
